<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MeatOrg</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/applications/create">Create Meeting</a></li>
            <li class="active"><a href="/register">Sign Up</a> </li>
        </ul>
    </div>
</nav>