<h1>Registration</h1>
<form method="post" action="/register">
    <label>
        <input type="text" name="login">
    </label>
    <label>
        <input type="text" name="e-mail">
    </label>
    <label>
        <input type="text" name="password">
    </label>
    <input type="submit" value="register">
</form>